@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid position-absolute top-0 start-0 text-center border border-dark landscape" style="height: 597px; background-color: #1680D0; ">
    <div class="row">
        <div class="col bg-light border border-dark" style="height: 50px;">
            Header / LOGO
        </div>
    </div>
    <div class="row w-90 p-3 " style="background-color: #1680D0; height: 485px;">
        <div class="col bg-light border border-dark" style="height: 485px;">
            graph 1
        </div>
        <div class="col border border-dark" style="background-color: #1680D0; height: 485px;">
            <div class="row border border-dark" style=" margin-left: 1px; height: 30px; width:586px;">
                <div class="col bg-light" style=" width:26px;">
                    name
                </div>
                <div class="col ">
                </div>
                <div class="col bg-light">
                    date
                </div>
            </div>
            <div class="col bg-light border border-dark" style="height: 225px; margin-top: 5px;">
                graph 2
            </div>
            <div class="col bg-light border border-dark" style="height: 225px;">
                graph 3
            </div>
        </div>
    </div>
    <div class="row position-absolute bottom-3 start-50 translate-middle-x" style="align-content: center; margin-top: 30px; width: 400px;">
        <div class="col bg-light" style="width:200px; ">
            baa
        </div>
        <div class="col bg-light" style="width:200px; ">
            baa222
        </div>
    </div>
</div>





